<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>WELCOME TO FISH ENCYCLOPIDEA</h1>
      <hr style=" height: 12px;border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
      <p><strong>Find out everything there is to know about fish
      and stay updated on the latest news with the
      comprehensive articles, interactive features and
      fish pictures at LiveScience.com. Learn more about
      these fascinating creatures as scientists continue
      to make amazing discoveries about fish.</strong></p>
      <p><strong>Find out everything there is to know about fish
      and stay updated on the latest news with the
      comprehensive articles, interactive features and
      fish pictures at LiveScience.com. Learn more about
      these fascinating creatures as scientists continue
      to make amazing discoveries about fish.</strong></p>
    </div>
  </div>
</div>