<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type"
    content="text/html; charset=utf-8" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <!-- Bootstrap CSS -->
  <link rel='stylesheet'
    href='/stylesheets/style.css' type="text/css"
    media="all" />
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <!-- Custom Theme files -->

  <!-- //Custom Theme files -->
  <!-- web font -->
  <link
    href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
    rel="stylesheet">
  <!-- //web font -->
</head>

<body>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="/">Password
      Management System</a>
    <button class="navbar-toggler" type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
      id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active"
          href="#">Home <span
            class="sr-only">(current)</span></a>
        <li class="dropdown">
          <a class="dropdown-toggle nav-item nav-link"
            data-toggle="dropdown"
            href="/passwordCategory">Password
            Category
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addNewCategory">Add
                New
                Category</a></li>
            <li><a href="/passwordCategory">View
                all
                Category</a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-item nav-link"
            data-toggle="dropdown"
            href="/passwordDetails">Password
            details
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/addNewPassword">Add
                New
                password</a></li>
            <li><a href="/passwordDetails">View
                all
                password</a></li>
          </ul>
        </li>

      </div>
    </div>
  </nav>
  <!-- main    npm start   -->
  <div class="main-w3layouts wrapper">
    <h1 class="text-centre"><%= title %></h1>
         <%  if(msg != ''){ %>
            <div id="signupalert" class="alert alert-danger">
             <p style="text-align: center;"><%= msg %></p>
           </div>   
           <% } %>
    <div class="main-agileinfo">
      <div class="agileits-top">
        <form action="/" method="post">
          <input class="text" type="text"
            name="Username" placeholder="Username"
            required="">

          <input class="text" type="password"
            name="password" placeholder="Password"
            required="">


          <input type="submit" value="LOGIN">
        </form>
        <p> Alredy Have an Account? <a
            href="/signup">
            Sinup!</a></p>
      </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
      <p>© 2020 Password management System. All
        rights
        reserved | Design by <a
          href="https://manasranjan.ga/"
          target="_blank">Developer Manas</a></p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- //main -->

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>